@import "variables";

#logofolio {
	@include container();
	background-size: cover;
	background-attachment: fixed;
	padding-top: 6rem;
	padding-bottom: 2.5rem;

	h1 {
		width: span(12 of 12);
	}

	h3 {
		width: span(5 of 12);
		font-family: 'Heebo', sans-serif;
		line-height: 3rem;
	}

	@include breakpoint($medium){
		min-height: 25em;

		h1 {
			@include span(12 of 12 first);
			padding-top: 6rem;
			font-size: 2rem;
		}

		h3 {
			@include span(12 of 12 first);
			padding-top: 1rem;
			line-height: 3rem;
		}

	}

	@include breakpoint($small){
		padding-top: 2rem;
		min-height: 18em;

		h1 {
			@include span(12 of 12 first);
			padding-top: 7rem;
			font-size: 24px;
		}

		h3 {
			@include span(12 of 12 first);
			padding-top: 1rem;
			line-height: 2rem;
			font-size: .75rem;
		}

	}

	#logofolio-container {
		clear: both;
		margin-bottom: 3rem;

		ul {
			display: block;
			white-space: nowrap;
		    overflow: auto; 
		    background-color: #fff;
		}

		li {
			display: inline-block;
			overflow-x: scroll;
			filter: grayscale(100%);
		}


		li:hover {
			filter: grayscale(0%);
		}
	}	
}

#portfolio-intro {
	@include container(12 nest);
	padding: $container-pad;
	padding-bottom: 4rem;

	p {
		@include span(6);
		margin-bottom: 1rem;
	}

	img {
		@include span(5);
		margin-top: -3rem;
		margin-left: 5%;
	}

	@include breakpoint($medium){
		p, img {
			@include span(12);
		}

		img {
			margin-top: 1rem;
		}
	}

	@include breakpoint($small){
		p, img {
			@include span(12);
		}

		img {
			margin-top: 1rem;
		}
	}
}

#portfolio-container {
	@include container(12 nest);
	padding: $container-pad-medium;
	background-color: #e8e8e8;

	@include breakpoint(max-width 1099px){
		padding: 2rem 1rem;	
	}

	@include breakpoint($medium){
		padding: $container-pad;
	}

	.single-project {
		@include span(4);
		margin-bottom: 3.5rem;
		background: #fff;
		box-shadow: 2px 2px 7px #b2b2b2;

		img {
			width: 100%;
		}

		.single-project-text {
			padding: 0.5rem;

			h5 {
				margin-top: 0;
				margin-bottom: 0.5rem;
			}

			h6 {
				margin-bottom: 0;
			}

			p {
				font-size: 75%;
			}
		}

		@include breakpoint(max-width 810px){
			@include span(6);
		}

		@include breakpoint($medium) {
			@include span(6);
		}

		@include breakpoint($small) {
			@include span(12);
		}
	}
}

#portfolio-footer {
	@include container();
	padding: $container-pad-medium;
	background: $tertiary;
	color: #fff;

	h1, h3 {
		@include span(12);
	}

	@include breakpoint($medium){
		padding: $container-pad;

	}

}

// My work individual pages/case studies
// .case-study {
// 	@include container();
// 	padding: $container-pad-medium;

// 	hr {
// 		clear: both;
// 	}

// 	p {
// 		float: left;
// 		@include span(12);
// 	}

// 	@include breakpoint($medium) {
// 		padding: $container-pad;

// 		.case-study-text{
// 			@include span(12 of 12);

// 			a.tech-stack {
// 				width: span(12 of 12);
// 				font-size: 0.85rem;
// 				line-height: 1rem;
// 				height: 100%;
// 			}

// 			h6.tech-stack {
// 				line-height: 1rem;
// 				height: 100%;
// 				width: span(12 of 12);
// 			}
// 		}
// 	}

// 	@include breakpoint($small) {
// 		padding: $container-pad;

// 		.case-study-text{
// 			width: span(12 of 12);
// 			a.tech-stack {
// 				width: span(12 of 12);
// 				font-size: 0.75rem;
// 				line-height: 1.25rem;
// 				height: 100%;
// 			}

// 			h6.tech-stack {
// 				width: span(12 of 12);
// 			}
// 		}
		
// 		.challenge, .solution {
// 			@include span(12);

// 			h6 {
// 				text-transform: uppercase;
// 				color: $primary;
// 				font-weight: 700;
// 			}
// 		}
// 	}

// 	.case-study-text {
// 		width: span(12 of 12);
// 		height: 2.5rem;
// 		line-height: 2.5rem;
// 		h6.tech-stack {
// 			width: span(8);
// 			float: left;
// 			margin-top: 0px;
// 		    margin-bottom: 0px;
// 		    vertical-align: middle;
// 		    line-height: 2.5rem;
// 		}
		
// 		a.tech-stack {
// 			width: span(2);
// 			float:right;
// 			background: $secondary;
// 			text-align: center;
// 			padding: 0.25rem 1rem;
// 			text-decoration: none;
// 			color: #fff;
// 			font-size: 1rem;
// 		}
// 	}


// 	@include breakpoint($small){

// 		.challenge .solution {
// 			@include span(12);
// 		}
// 	}

// 	.challenge, .solution {
// 		@include span(6);

// 		h6 {
// 			text-transform: uppercase;
// 			color: $primary;
// 			font-weight: 700;
// 		}
// 	}
// }

.case-study {
	@include container();
	padding: $container-pad-medium;
	
	.case-study-text {

		h6.tech-stack {
			@include span(6 of 12);
		}

		a.tech-stack {
			float: right;
		    line-height: 100%;
		    margin: 1.33rem 0;
		    background: $tertiary;
		    padding: 0.5rem;
		    text-decoration: none;
		    color: #fff;
		}
	}

	p {
		@include span(12 of 12);
	}

	.challenge, .solution {
		@include span(6 of 12);
	}

	@include breakpoint($medium){
		padding: $container-pad;

		.challenge, .solution {
			@include span(12 of 12);
		}
	}

	@include breakpoint($small){
		padding: $container-pad;
	}
}


.result {
	@include container();
	background-color: #e8e8e8;
	padding: $container-pad-medium;

	h6, p {
		width: span(7);
		margin: 1rem auto;
	}

	@include breakpoint($medium) {
		padding: $container-pad;

		h6, p {
			width: span(12);
			margin: 1rem auto;
		}
	}

	@include breakpoint($small) {
		padding: $container-pad;
	}
}

.case-study-imgs {
	@include container();
	padding: $container-pad-medium;
}

.case-study-more {
	@include container();
	padding: $container-pad-medium;

	@include breakpoint($medium) {
		padding: $container-pad;
	}

	@include breakpoint($small) {
		padding: $container-pad;
	}

	img {
		@include span(6);
	}

	:nth-child(1) {
		margin-left: 5rem;
	}

	:nth-child(2) {
		margin-left: -7rem;
		margin-top: 9.5rem;
	}

	:nth-child(3) {
		margin-left: -7rem;
		margin-top: 4rem;
	}

	:nth-child(4) {
		margin-left: -7rem;
		margin-top: 4rem;
	}

	:nth-child(5) {
		margin-left: -7rem;
		margin-top: 4rem;
	}
}

.case-study-more-1 {
	@include container();
	padding: $container-pad-medium;

	@include breakpoint($small){
		padding: $container-pad;
	}
}



