include nav
div.hero(style="background-image:url('./images/michelle-maltbia-3.jpg')")
	h1.home 
		span.black About Michelle
	h3 
		span.black I am a master of all things. There isn't anything I can't do, if I want to.
div#meet-michelle(style="background-image:url('./images/about/about.png'); background-size: cover;")
	div#meet-michelle-text
		h1 Meet Michelle
		h3 Developer, Designer, Digital Strategist
		p Put simply, I'm your go-to expert for all of your organization's marketing, web, and branding goals. My studies in the areas of business, fine art, and software engineering means I'll draft a killer digital marketing strategy and implement it for you as well. Say 'goodbye' to the days of juggling 3 different contractors, I'll manage the moving parts for you.
div#skills
	div#skills-intro
		h1 Skills
		h3 Curiosity and my love for what I do both lead me to broaden my skillset. Here's what I have accomplished so far:
	div#skills-lists
		ul#skill-list-1
			h3.btn-gray Web Development
			li Javascript
			li HTML5
			li CSS3
			li LESS
			li SASS
			li PHP
			li Ruby & Rails
			li WordPress
			li Bootstrap 3
			li Angular 1
			li Git
		ul#skill-list-2
			h3.btn-gray Design
			li Graphic Design
			li UX Design
			li User Stories
			li Wireframes
			li Photoshop
			li Illustrator
			li InDesign
			li Sketching
			li After Effects
		ul#skill-list-3
			h3.btn-gray Digital Strategy
			li Social Media
			li SEO
			li Copywriting
			li Marketing
			li Planning
			li Content Creation
div#values
	h1 Values
	div#values-list
		div.value
			div.icon
				img(src="./images/about/icons/transparency.svg")
			h3 Transparency
			span No secrets or coverups. Just clean, honest work that you can trust.
		div.value
			div.icon
				img(src="./images/about/icons/conversation.svg")
			h3 Speak human, not robot
			span Jargon is stupid and often unnescessary. We are all humans here.
		div.value
			div.icon
				img(src="./images/about/icons/battery.svg")
			h3 Level up and evolve
			span There's always more to learn and room to grow. We'll be in it for the long haul.
		div.value
			div.icon
				img(src="./images/about/icons/chat.svg")
			h3 Compassion is key
			span Always put myself in other people’s shoes so I can understand and help them better.
		div.value
			div.icon
				img(src="./images/about/icons/five-stars-outlines.svg")
			h3 Quality not quantity
			span Make a smaller number of projects amazing rather than lots of mediocre ones.
		div.value
			div.icon
				img(src="./images/about/icons/invention.svg")
			h3 Stay curious
			span Question everything. Dig deep. Get right to the heart of the problem.
div#giving-back-mm
	div#giving-back
		div#giving-back-img
			img(src="./images/about/michelle-maltbia-pro-bono.png")
		div#giving-back-content
			h1 Giving Back
			p I believe everyone has something to offer those less fortunate. Whether it’s money, time or a skill we can all give something back.

			p That’s why I started Pro-Bono Friday. Every other Friday morning I donate approximately 4 hours of my time to help out with design work for good causes.

			p This can either take the form of small jobs like posters or web banners or it can span across a few weeks for something larger like a brochure or a landing page.

			p So if you’re a not-for-profit and would like a helping hand with some free design work <a href="mailto:hi@michellemaltbia.com">send me an email</a> with some information about your cause, what you need doing and I’ll add you to my waiting list!
include more-projects
div#ready-to-work
	h3 Ready to work together?
	a(href="mailto:hi@michellemaltbia.com?subject=Let's talk about your project.&body=Hi there! Thanks for reaching out. Let's start by you telling me about your project below, and I'll be in contact with next steps. Talk to you soon!" target="_blank")
		button.btn.btn-primary Start the Conversation
include footer
