include nav
div.hero(style="background-image:url('./images/index/michelle-maltbia-1.jpg');")
  h1.home
    span.black More than a <span id="js-rotating">developer</span>.
  h3
    span.black I'm passionate about helping people like you reach your business goals. I build products that excite and craft digital campaigns that exceed goals. Let's develop something great together. 

div#intro
  h1 Hi! I'm Michelle. 
  p I'm a full-stack developer who helps non-profits and medium sized businesses reach their marketing goals through strategy, graphic design, and web development. A creative who finds inspiration through experiences and travel, I'm looking to join a team where I can marry my passions for visual design and front-end development. I am also available for contract projects. 
  a(href="/about.html")
    button(class="btn btn-primary") Learn More About Me
  img(src="./images/index/michelle-maltbia-bridge.png" class="img-bridge")
  img(src="./images/index/michelle-maltbia-desk.png" class="img-desk")

div#my-work(style="background-image: url('./images/index/michelle-maltbia-splatter-bg.svg');")
  div#splatter(style="background-image: url('./images/index/michelle-maltbia-splatter-bg-2.svg');")
    h1 "Creativity is intelligence having fun."
    span - Albert Einstein
    div.gallery
      h3 graphic design
      h3 branding
      img(src="./images/index/cube.svg" class="animated infinite pulse")
      img.my-work(src="./images/index/michelle-maltbia-media-mash-main.png")
      img.my-work(src="./images/index/michelle-maltbia-salon-spa-pass-main.png")
      img.my-work(src="./images/index/michelle-maltbia-lacy-home.png")
      img.my-work(src="./images/index/michelle-maltbia-avodah.png")
      a.my-work(href="/my-work.html")
        button(class="btn btn-primary") View More of My Work

div#testimonials
  img.quotation-mark(src="./images/index/open-quote.svg")
  div#rotator.rotator
    div.rotator-content.current
      img(src="./images/index/corner.png")
      blockquote
        p Michelle's a WordPress rockstar! We couldn't be more happy with the website she developed for a non-profit client.
        footer Bethany L. 
          h6 Cornershop Creative
    div.rotator-content
      img(src="./images/index/claire-j.jpg")
      blockquote
        p Great work! Thanks for turning around our last minute project.
        footer Claire J. 
          h6 Salon & Spa Pass
    div.rotator-content
      img(src="./images/index/lj.jpg")
      blockquote
        p Excellent results! Michelle grew facebook engagement by 800%.
        footer LJ J. 
          h6 Heartland Merchants Association
    span.rotator-progress
include more-projects
div#project-in-mind(style="background-image: url('./images/index/michelle-maltbia-flat-lay.jpg')")
  h1 
    span.black Do you have a project in mind?
  h3 Let's connect.
  a(href="mailto:hi@michellemaltbia.com?subject=Let's talk about your project.&body=Hi there! Thanks for reaching out. Let's start by you telling me about your project below, and I'll be in contact with next steps. Talk to you soon!" target="_blank")
    button.btn.btn-primary Start the Conversation
include footer






