include nav
div.hero(style="background-image:url('./images/index/michelle-maltbia-desk.png');background-size: 100% 100%;")
	h1.home
		span.black Insight that is <span id="js-rotating">relevant, timely, result focused</span>.
	h3
		span.black From my desk to your screen. Stay tuned! I have so much to share with you. 
div#insights-intro
	h1 This page is under construction.
	p This page is still under construction, but I'm so excited you're here. Check back soon as I'll be updating this area with industry insight you won't want to miss. 
include more-projects
include footer