- function randomCaseStudy(){
-	
-	}

div.more-projects
	h2 Recent Projects
	h3 Here's what I've been up to.
	div.more-projects-3
		ul
			li: a(href="./../my-work/buy-local-campaign.html")
				img(src="./../images/my-work/heartland/heartland-thumbnail.jpg") 
			li: a(href="./../my-work/avodah.html")
				img(src="./../images/my-work/avodah/avodah-thumbnail.jpg") 
			li: a(href="./../my-work/doodling-app.html")
				img(src="./../images/my-work/other/angular-doodling-app/doodling-main-1.jpg")  
		br
		br
		a(href="/my-work.html#portfolio-container") 
			button.btn.btn-secondary See More Here
