include nav
div#logofolio(style="background-image: url('./images/my-work/hero-bg-2.jpg');")
	h1 
		span.black Logofolio
	h3 
		span.black Browse logos I've created by scrolling horizontally below.
	div#logofolio-container
		ul
			li
				img(src="./images/logos/risen-main.svg")
			li
				img(src="./images/logos/allegiant-main.svg")
			li
				img(src="./images/logos/gtcdc-main.svg")
			li
				img(src="./images/logos/graden-main.svg")
			li
				img(src="./images/logos/wiki-main.svg")		
			li
				img(src="./images/logos/ptwm-main.svg")
			li
				img(src="./images/logos/alisha-main.svg")		
			li
				img(src="./images/logos/salon-spa-main.svg")
			li
				img(src="./images/logos/einstein-main.svg")
			li
				img(src="./images/logos/gt-main.svg")
			li
				img(src="./images/logos/kbcf-main.svg")
			li
				img(src="./images/logos/loft-main.svg")
			li
				img(src="./images/logos/lme-main.svg")

div#portfolio-intro
	h1 Work that speaks for itself? Nice.
	h3 Different Projects, Same Goal.
	p During every project I work on my primary goal is always the same: to create an emotional connection with consumers. I understand that the vitality of your business depends on how engaged your audience is with your brand. My job is design goal driven digital marketing plans and deliver content in support of this plan.
	img(src="./images/my-work/heart-web.png")
div#portfolio-container 
	h2 Portfolio
	p Here's a mix of just a few of the professional and passion projects that I've worked on.
	br
	div.single-project.animated.fadeInUp
		a(href="/my-work/avodah.html"): img(src="./images/my-work/avodah/avodah-thumbnail.jpg")
		div.single-project-text
			h5
				span.black Avodah
			h6 Web Development
			p Avodah needed a new up to date website which accuratley reflected the vibrancy of their organization.
			a.btn-tertiary(href="/my-work/avodah.html") See their new look >
	div.single-project.animated.fadeInUp
		a(href="/my-work/doodling-app.html"): img(src="./images/my-work/other/angular-doodling-app/doodling-main-1.jpg")
		div.single-project-text
			h5
				span.black Angular Doodling App
			h6 Web Development
			p I'm passionate about learning new technologies. I also enjoy building tools just as much as client facing websites. 
			a.btn-tertiary(href="/my-work/doodling-app.html") Check it out >
	div.single-project.animated.fadeInUp
		a(href="/my-work/buy-local-campaign.html"): img(src="./images/my-work/heartland/heartland-thumbnail.jpg")
		div.single-project-text
			h5
				span.black Buy Local Campaign
			h6 Web Development & Marketing
			p Heartland Merchants Association needed to launch a citywide campaign encouraging residents to buy local. 
			a.btn-tertiary(href="/my-work/buy-local-campaign.html") Take a look >
	div.single-project
		a(href="/my-work/salon-and-spa-pass.html"): img(src="./images/my-work/salon-spa/salon-spa-thumbnail.jpg")
		div.single-project-text
			h5
				span.black Salon & Spa Pass
			h6 Branding, Web Development
			p Startup Salon & Spa Pass needed to establish their brand and a website as a tool for signing up salon partners.
			a.btn-tertiary(href="/my-work/salon-and-spa-pass.html") Check it out >
	div.single-project
		a(href="/my-work/lacy.html"): img(src="./images/my-work/lacy/lacy-main.jpg")
		div.single-project-text
			h5
				span.black Angular Store 
			h6 Web Development
			p Exploratory Angular 1 shopping cart web app. Customers can browse and select products to add to their cart.  
			a.btn-tertiary(href="/my-work/lacy.html") Take a look >
	div.single-project
		a(href="/my-work/media-mash.html"): img(src="./images/my-work/other/media-mash/media-main.jpg")
		div.single-project-text
			h5
				span.black Media Mash
			h6 Web Development
			p Media Mash is an image search engine for high quality, original, non-copyrighted photos using the Flikr API. It's a piece of a larger project. 
			a.btn-tertiary(href="/my-work/media-mash.html") Try it out >
	div.single-project
		a(href="/my-work/affordable-housing.html"): img(src="./images/my-work/occur/affordable-housing/housing-thumbnail.jpg")
		div.single-project-text
			h5
				span.black Affordable Housing Campaign
			h6 Graphic & Web Design
			p OCCUR is a non-profit who needed help with copywriting and designs for an educational marketing campaign. 
			a.btn-tertiary(href="/my-work/affordable-housing.html") Check it out >
	div.single-project
		a(href="/my-work/pharmascript.html"): img(src="./images/my-work/pharmascript/pharmascript-main.jpg")
		div.single-project-text
			h5
				span.black Pharmascript Service Locations 
			h6 Graphic Design
			p Pharmascript is a pharmacy that caters to longterm care and skilled facilities. This project illustrates their service areas.
			a.btn-tertiary(href="/my-work/pharmascript.html") Check it out >
	div.single-project
		a(href="/my-work/cff.html"): img(src="./images/my-work/cff/cff-main.jpg")
		div.single-project-text
			h5
				span.black California Fire Foundation
			h6 Web Development
			p The mission of the California Fire Foundation is to support families of fallen firefighters, firefighters and the communities they protect.
			a.btn-tertiary(href="/my-work/cff.html") See their new look >

div#portfolio-footer
	h1 Oh yea! I built this site too!
	h3 When I'm not building awesomeness for clients this site is where I experiment. Like a great meal, this site was made from scratch. 
	h6.tech-stack Tech Stack: HTML5, CSS3, Javascript, Jade, SASS, Susy, Compass 
	div.col-1
		h2.tech-stack It's responsive/mobile-friendly.
		p Try resizing your browser window or using another device to check out how this site beautifully adapts to any screen size.
	div.col-2
		h2.tech-stack It's super fast.
		p Long loading times suck. I agree. That's why I've optimized each page to load in 1 second! 
include footer
