include ./../nav
div.hero.my-work(style="background-image:url('./../images/my-work/occur/affordable-housing/oakland-1-purple.jpg')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/my-work/occur/affordable-housing/solutions-header.png")
		h3
			span.black.animated.fadeInUp Stimulating Economic Development
div.case-study
	h3 Branding for OCCUR
	hr
	h6 Illustrator, Photoshop, Copywriting
	hr
	p Occur is a non-profit organization that serves as a facilitator and catalyst bringing together neighborhood residents, merchants and government to strengthen and stimulate the economic development potential of emerging communities.
	div.challenge
		h6 The Challenge
		p OCCUR was commissioned by the San Francisco Foundation to educate Oakland residents about solutions for the current housing crisis.
	div.solution 
		h6 The Solution
		p I developed several pieces for print in support of the campaign goals.
	img.col-lg-12.shadow(src="./../images/my-work/occur/affordable-housing/flyer-1.jpg")
	img.col-lg-12.shadow(src="./../images/my-work/occur/affordable-housing/flyer-2.jpg")
div.result
	h6 The Result
	p The campaign material turned out to be engaging and informative. I successfully communicated the the housing crisis solutions in a clear and easy to digest format.
div.case-study-imgs
	img.shadow(src="./../images/my-work/occur/affordable-housing/brochure-1.png" width="100%")

include ./../more-projects
include ./../footer