include ../nav
div.hero.my-work(style="background-image:url('./../images/my-work/avodah/t-shirt.jpg')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/my-work/avodah/logo-footer.svg")
		h3 
			span.black.animated.fadeInUp Sparking Jewish Leaders, Igniting  Social Change
div.case-study
	h3 Web Development for Avodah
	hr
	h6 PHP, WordPress, Mailchimp, HTML5, SASS, CSS, Photoshop
	hr
	p Avodah is a non-profit organization who is committed to building a new generation of Jewish leaders. The leadership they foster continues to take on our countries most pressing social and economic issues. 
	div.challenge
		h6 The Challenge
		p The Avodah organization continues to grow with offices in several cities across the country, but their web presence wasn't growing with them. It wasn't an accurate reflection of the vibrant leadership they encourage.
	div.solution 
		h6 The Solution
		p Working with Cornershop Creative I developed the website from the ground up to make it both functional and beautiful. 
	img.col-lg-12.shadow(src="./../images/my-work/avodah/home.jpg")
div.result
	h6 The Result
	p The website turned out to be vibrant and engaging, yet simple in it’s core which was exactly what we hoped for. This means the team at Avodah can update their website as seasons and trends change, without it ever looking outdated.

	p We also included additional functionality like a donation system, a vibrant blog and a system for potential fellows to apply.

	p All of this adds up to a great, interactive experience that will keep Avodah supporters loyal to the organization.
div.case-study-more
	img.shadow(src="./../images/my-work/avodah/what-we-do.jpg")
	img.shadow(src="./../images/my-work/avodah/who-we-are.jpg")

include ../more-projects

include ../footer