include ./../nav
div.hero.my-work(style="background-image:url('./../images/my-work/cff/cff-hero.jpg')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/my-work/cff/cff-logo.png")
		h3 
			span.black.animated.fadeInUp Remembering Our Fallen Firefighters
div.case-study
	h3 Web Development for the California Fire Foundation
	div.hr
	div.case-study-text
		h6.tech-stack WordPress, HTML5, CSS3, Javascript, LESS/SASS
	div.hr
	p Working with Cornershop Creative we set out to create a commemorative space for fallen California firefighters. 
	div.challenge
		h6 The Challenge
		p To develop a WordPress site where supporters can shop, donate, and receive news and updates. 
	div.solution 
		h6 The Solution
		p Users are able to navigate the site easily as well as stay current on the foundation's latest news and events.
	img.col-lg-12.shadow(src="./../images/my-work/cff/cff-1.png")
include ../more-projects
include ./../footer