include ./../nav
div.hero.my-work(style="background-image:url('./../images/my-work/other/angular-doodling-app/doodling-main.png')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/michelle-maltbia-logo.svg")
		h3 
			span.black.animated.fadeInUp Try It Out!
div.case-study
	h3 Having Fun with Angular 1!
	div.hr
	div.case-study-text
		h6.tech-stack Angular 1, HTML5, CSS3, Javascript, Jade
		a.tech-stack(href="https://angular-drawing-app.herokuapp.com/doodle" target="_blank") See it in action.
	div.hr
	p I love the challenge of learning new libraries and frameworks. 
	div.challenge
		h6 The Challenge
		p To develop a lightweight Angular 1 drawing application in which the user can select a color and a brush size. The User can also add text to the Canvas as well. 
	div.solution 
		h6 The Solution
		p Users are able to immediately begin drawing on the canvas on page load.   <a href="https://angular-drawing-app.herokuapp.com/doodle">here</a>
	img.col-lg-12.shadow(src="./../images/my-work/other/angular-doodling-app/doodle-hero-1.jpg")
include ../more-projects
include ./../footer