include ./../nav
div.hero.my-work(style="background-image:url('./../images/my-work/other/media-mash/bright.jpg')")
	div.my-work-hero-center
		h1.animated.fadeInUp.white Media Mash
		h3 
			span.black.animated.fadeInUp Try It Out!
div.case-study
	h3 Hi-Res Photo Search Engine
	hr
	h6.tech-stack HTML5, CSS3, Javascript, Bootstrap 3, Flickr API
	a.tech-stack(href="http://media-mash.michellemaltbia.com" target="_blank") See it in action.
	hr
	p Designers and developers know the great need we have for high quality license free images to use in our projects.  
	div.challenge
		h6 The Challenge
		p To develop a lightweight, high resolution, license free photo search experience.  
	div.solution 
		h6 The Solution
		p I developed a layout that is inuitive and user friendly. Check it out <a href="https://media-mash.michellemaltbia.com/">here</a>.
	img.col-lg-12.shadow(src="./../images/my-work/other/media-mash/sunset-2.jpg")
div.result
	h6 The Result
	p The site is mobile responsive and shows an array of photos utilizing the Flickr API.

	p The project also features a way to add photos to an API that I created for use in another project. 

	p Note: The API that the photos are added to is currently being utilized within another project. Details coming soon, but until then you can check out images that have been added to my custom API <a href="http://bg.michellemaltbia.com">here</a>. 
//- div.case-study-more
//- 	img.shadow(src="./../images/my-work/lacy/shop.png")
//- 	img.shadow(src="./../images/my-work/lacy/shop-single.png")
include ./../more-projects
include ./../footer