include ../nav
div.hero.my-work(style="background-image:url('./../images/my-work/pharmascript/service-locations-hero.svg')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/my-work/pharmascript/pharmascript-logo.svg")
		h3 
			span.black.animated.fadeInUp Fast & Convenient Pharmacy Delivery
div.case-study
	h3 Graphic Design for Pharmascript
	hr
	h6 Illustrator
	hr
	p Pharmascript is a pharmacy that serves assisted living and long-term care facilities in Texas, Florida and the Northeast. 
	div.challenge
		h6 The Challenge
		p Pharmascript needed help updating their service area maps.
	div.solution 
		h6 The Solution
		p Working with Cornershop Creative I developed the website from the ground up to make it both functional and beautiful. 
	img.col-lg-12.shadow(src="./../images/my-work/pharmascript/pharmascript-northeast-3.png")
div.result
	h6 The Result
	p The graphics turned out to be modern and informative, yet simple in it’s core which was exactly what we hoped for. Pharmascript is now able to clearly communicate their service area to potential clients.
div.case-study-more
	img.shadow(src="./../images/my-work/pharmascript/pharmascript-texas-3.png")
	img.shadow(src="./../images/my-work/pharmascript/pharmascript-florida-3.png")
include ../more-projects
include ../footer