include ../nav
div.hero.my-work(style="background-image:url('./../images/my-work/salon-spa/banner.jpg')")
	div.my-work-hero-center
		img.logo.animated.fadeInUp(src="./../images/my-work/salon-spa/logo.png")
		h3 
			span.black.animated.fadeInUp Look Great, Feel Great
div.case-study
	h3 Branding & Web Development for Salon & Spa Pass
	hr
	h6 PHP, WordPress, Email Campaign, HTML5, CSS3, Photoshop, Illustrator
	hr
	p Salon & Spa Pass is a monthly subscription for beauty services in New York City. Members chose from varying credit amounts to use as  payment at partner salons. 
	div.challenge
		h6 The Challenge
		p Start up Salon & Spa Pass desired branding and a website that would help them acquire early stage salon partners as well as members. 
	div.solution 
		h6 The Solution
		p I developed branding, imagery, and a website that was tailored to the specific services offered by Salon & Spa Pass partners. User feedback was obtained and integrated into the site with a focus on clarity of messaging.  
	img.col-lg-12.shadow(src="./../images/my-work/salon-spa/join.jpg")
div.result
	h6 The Result
	p The website turned out to be fresh and inviting, with copy that clearly explains the benefits of subscription. It was designed so that the Salon & Spa Pass team can update their website as the company grows, without it ever looking neglected.

	p We also included additional functionality like a scheduling system and a salon location search.

	p All of this adds up to a beautiful, interactive onboarding experience for potential partners and subscribers.
div.case-study-more
	img.shadow(src="./../images/my-work/salon-spa/home.jpg")
	img.shadow(src="./../images/my-work/salon-spa/locations.jpg")
	img.shadow(src="./../images/my-work/salon-spa/salon-1.png")
	img.shadow(src="./../images/my-work/salon-spa/salon-2.png")
div.full-width(style="background-image:url('./../images/my-work/salon-spa/iphone-1.jpg');")

include ../more-projects
include ../footer